
<html>
<head>   
    <link href="https://a0.muscache.com/airbnb/static/packages/common_o2.1-ec3a181fa47f7eeeccce237530c4bdf9.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://a2.muscache.com/airbnb/static/p1/main-pretzel-d13973fd70f8c67a5804eef0ff3f7513.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body class="home_view v2 simple-header p1">

{% block header %}
{% endblock %}

{% block content %}
{%endblock %}
</body>
</html>