<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>RealEstate - Connection</title>

    <style>
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


</style>

    <script src="js/prefixfree.min.js"></script>
	<link rel="stylesheet" href="{{ asset('css/logandauth/style.css') }}">
</head>

<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Real<span>Estate</span></div>
		</div>
		<br>
		<div class="login" >
			<form method="POST">
				<input type="email" placeholder="e-mail" name="mail" id="mail"><br>
				<input type="password" placeholder="mot de passe" name="password" id="password"><br>
				<input type="submit" value="connection">
			</form>	
		</div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

</body>

</html>