{%block formChambre%}
<div class="col-3 text-right col-middle">
            <div class="h4 text-light">
                  Chambres
            </div>
  </div>

  <div class="col-lg-9 col-middle">
        <div class="row row-condensed ">
          <div class="col-md-4 col-sm-12 row-space-1">
            <div class="select select-block">
              <select name="nbrpiece" >
                <option value="-1">Chambres</option>
                  <option value="1">1 chambre</option>
                  <option value="2">2 chambres</option>
                  <option value="3">3 chambres</option>
                  <option value="4">4 chambres</option>
                  <option value="5">5 chambres</option>
                  <option value="6">6 chambres</option>
                  <option value="7">7 chambres</option>
                  <option value="8">8 chambres</option>
                  <option value="9">9 chambres</option>
                  <option value="10">10 chambres</option>
              </select>
            </div>
          </div>
        </div>
  </div>
{%endblock%}