{%block formEtat%}
<div class="col-3 text-right col-middle">
            <div class="h4 text-light">
                  Etat
            </div>
  </div>
      <div class="col-lg-9 form-select col-middle" >
        <div class="row row-condensed">
          <div class="col-md-4 col-sm-12 row-space-1">
            <div class="select select-block">
              <select name="etat">
                <option value="-1">Etat</option>
                <option value="Mauvai">mauvaise</option>
                <option value="Bon">bonne</option>
                <option value="Nouveau">Nouveau</option>
                <option value="ancien">ancienne</option>
              </select>
            </div>
          </div>
        </div>
      </div>



{%endblock%}