{%block formEtat%}
<div class="col-3 text-right col-middle">
    <div class="h4 text-light">
          Prix
    </div>
</div>

<div class="col-lg-9 form-select col-middle" >
  <div class="row row-condensed">
    <div class="col-md-4 col-sm-12 row-space-1">
        <div class="input-addon">
          <span class="input-prefix">€</span>
          <input class="input-stem input-large" type="text" name="prix" value="" required>
        </div>
    </div>
  </div>
</div>



{%endblock%}