{%block filtreTypeImmob%}
  <div class="col-3 text-right col-middle">
            <div class="h4 text-light">
                  Type de propriété
            </div>
  </div>

  <div class="col-lg-9 form-select col-middle">
        <div class="row row-condensed">
          <div class="col-md-4 col-sm-12 row-space-1">
            <div class="select select-block">
              <select name="typeimmob" class="filtre-select">
                  <option value="-1">type immobilier</option>
                  <option value="Appartement">Appartement</option>
                  <option value="Villa">Villa</option>
                  <option value="Studio">Studio</option>
                  <option value="Maison">Maison</option>
                  <option value="Entrepot">Entrepot</option>              
              </select>
            </div>
          </div> 
        </div>
  </div>
      
{%endblock%}